* {
    font-size: 1rem;
}
body {
    padding: 0px;
    margin: 0px;

    font-family: 'Jockey One', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;


    background-color: #F0DDB4;

    overflow-y: scroll;



    
}

main {
    overflow: scroll;
}

#overlay {

    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0DDB4; /* Black background with opacity */
    color:black;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor:auto; /* Add a pointer on hover */
  }

.sendInfo {
    margin: auto;
    padding: 10px;
}

#messages {
    height: 40vh;
    display: flex;
   /* flex-direction: column-reverse;*/
}
#messages:not(.show) {
    height: 0px;
    visibility: hidden;
}

header {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;  
    background-color: #E6AF3F;

    
    align-items: center;
    text-align: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: sticky;
    margin-bottom: 20px;
}
header * {
    font-size: 2rem;
    display:inline-block;
}

#gamebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-bottom: 30px;

    background-color: #E6AF3F;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    text-align: center;
    font-size: 2rem;


}


#likecontainer {
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
#mylikeslist {
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;   
}
.like {
    color: black;
    font-size: 1rem;
    margin: 5px;
    width: min-content;
    height: 30px;
    flex-basis: 0;
    background-color: #E6AF3F;
    border-radius: 8px;
    font-weight: 1000;
    flex-basis: fit-content;

    vertical-align: middle;

    padding-right: 10px;
    padding-left: 10px;
}

.likeslistitem {
    color: black;
    border: 0px;
    font-size: 1rem;
    margin: 5px;
    width: min-content;
    height: 30px;
    flex-basis: 0;
    background-color: #3D80DF;

    border-radius: 8px;
    font-weight: 1000;
    flex-basis: fit-content;

    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}

.likeslistitem:hover{
    background-color: #90beff;
    cursor:pointer;
}


.like.shared-like {
    background-color: #DE476F;
}

#players .player {
    margin: 10px;
    padding-left: 10px;
    border-radius: 8px;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#players .player:last-child {
    margin-bottom: 200px;
  }
  

input {
    background-color: #E6AF3F;
    border: 0px;
    border-radius: 10px;
    font-size: 2rem;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    height: 3rem;
    color: rgba(0,0,0,0.6);
}

header input {
    background-color: #F0DDB4;
}

button {
    background-color: #E6AF3F;
    border: 0px;  
    border-radius: 10px;
    padding: 10px;  
    font-size: 1.5rem;
    height: 3rem;
}

button:hover {
    background-color: #faefd8;
}

header button {
    background-color: #F0DDB4;
}

.funblock {
    width: 8rem;
    height: 8rem;


    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    -webkit-box-shadow: 0px 19px 33px -17px rgba(82,82,82,1);
    -moz-box-shadow: 0px 19px 33px -17px rgba(82,82,82,1);
    box-shadow: 0px 19px 33px -17px rgba(82,82,82,1);
}
